@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Inter:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --amarillo-mass: #F1CC0C;
    --blanco: #F1F1F1;
    --blanco-humo: #D9D9D9;
    --gris: #858585;
    --azul-mass: #1F3E97;
}
.close-btn{
    position: relative;
    border: none;
    background-color: transparent;
    right: -310px;
    cursor: pointer;
}
.modal{
    border-radius: 20px;
    border: none;
    margin: auto;
    padding-top: 10px;
}
.modal::backdrop{
    background-color: rgba(0, 0, 0, .5);
}
.modal-tienda{
    width: 350px;
    height: 540px;
}
.modal-delivery{
    width: 350px;
    height: 420px;
}
.modal-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-btns{
    background-color: #F1F1F1;
    width: 300px;
    display: flex;
    border-radius: 20px;
    margin: auto;
    color: var(--azul-mass);
    font-family: "Inter", sans-serif;
}
.btn-activo-modal{
    background-color: var(--amarillo-mass);
    border-radius: 20px;
}
.btn-modal{
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    padding: 5px 0px;
}
.form-modal{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.item-form-modal{
    height: 35px;
    width: 320px;
    border-radius: 10px;
    background-color: var(--blanco);
    color: var(--gris);
    border: none;
    font-size: 15px;
}

.separator{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    color: var(--gris);
    font-size: 10px;
}
.separator-line{
    height: 0px;
    width: 70px;
    border: 1px solid var(--blanco-humo);
    background-color: var(--blanco-humo);
}
.btn-ubicacion{
    background-color: var(--amarillo-mass);
    color: var(--azul-mass);
    text-align: center;
    font-family: "Inter", sans-serif;
    height: 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
}

/* tabs container*/

.tabs-content{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 200px;
    gap: 10px;
    font-family: "Inter", sans-serif;
    color: var(--gris);
}
.tabs-content::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll */
}
.tabs-item{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: start;
    border: 1px solid var(--gris);
    border-radius: 10px;
    font-size: 15px;
    padding: 10px 0px;
    padding-left: 20px;
    cursor: pointer;
    width: 320px;
}
.tabs-check{
    border-radius: 10px;
    width: 10px;
    height: 10px;
    background-color: var(--blanco);
    border: 1px solid var(--blanco-humo);
    cursor: pointer;
}
.check-active{
    background-color: var(--gris);
}
.tabs-description div:first-child{
    font-weight: bold;
}